/*
 * jquery.selectBoxIt.css 3.8.1
 * Author: @gregfranko
 */

/*
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/
/* SelectBoxIt container */
.selectboxit-container {
    position: relative;
    display: block;
    vertical-align: top;
    float: left;
    margin: 0;
    padding: 0;
    clear: none;
    width: 100%;
}

select {
    /*display: none!important;*/
}

/* Styles that apply to all SelectBoxIt elements */
.selectboxit-container * {
    font-size: 14px;
    color: inherit;
    font-family: 'GothamPro', sans-serif;
    /* Prevents text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
    white-space: nowrap;
}

/* Button */
.selectboxit-container .selectboxit {
    width: 100%!important; /* Width of the dropdown button */
    cursor: pointer;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    position: relative;

}
.selectboxit-container > .selectboxit{
    background-color: #ffffff!important;
    border: 1px solid #000;!important;
}
.search-form-wrap .line .column.property-type .selectboxit-container .selectboxit{
    width: 197px!important;
}
/* Height and Vertical Alignment of Text */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
    font-family: 'GothamPro';
    font-size: 14px;
    color: #000;
    display: block;

}
.selectboxit-container > .selectboxit{
    line-height: 25px;
    height: 26px; /* Height of the drop down */
}
.selectboxit-container > .selectboxit > span{
    height: 24px;
}
.selectboxit-container .selectboxit-options li{

}
.selectboxit-container .selectboxit-options a{
    font-family: 'GothamPro';
    font-size: 14px;
    color: #000;
    line-height: 25px;
    height: auto;
}
.selectboxit-container .selectboxit-options a:hover{
    transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    color: #fff;
    background-color: #667820;
}


.selectboxit-container .selectboxit-options {
    line-height: normal;
}

.selectboxit-container .selectboxit-options a {
    height: 26px;
    line-height: 26px;
    display: block;
    margin: 0;
    padding-right: 13px;
    padding-left: 13px;
    text-align: left;
}

/* Focus pseudo selector */
.selectboxit-container .selectboxit:focus {
    outline: 0;
}

/* Disabled Mouse Interaction */
.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

/* Button Text */
.selectboxit-text {
    width: calc(100% - 50px) !important;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    float: left;
    height: 40px;
}

.selectboxit .selectboxit-option-icon-container {
    margin-left: 8px;
}

/* Options List */
.selectboxit-container .selectboxit-options {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    margin: 2px 0 0 0;
    padding: 0;
    list-style: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
    display: none;
    max-height: 314px!important;
    z-index: 9999999999999;
    background-color: #ffffff;
    border: 1px solid #000;
    text-align: left;




}









/* Individual options */
.selectboxit-option .selectboxit-option-anchor {
    padding: 0;
}

/* Individual Option Hover Action */
.selectboxit-option .selectboxit-option-anchor:hover {
    text-decoration: none;
}

/* Individual Option Optgroup Header */
.selectboxit-option, .selectboxit-optgroup-header {
    padding: 0; /* Horizontal Positioning of the select box option text */
    margin: 0;
    list-style-type: none;
}

/* The first Drop Down option */
.selectboxit-option-first {
}

/* The first Drop Down option optgroup */
.selectboxit-optgroup-header + .selectboxit-option-first {
}

/* The last Drop Down option */
.selectboxit-option-last {
}

/* Drop Down optgroup headers */
.selectboxit-optgroup-header {
    font-weight: bold;
}

/* Drop Down optgroup header hover psuedo class */
.selectboxit-optgroup-header:hover {
    cursor: default;
}

/* Drop Down down arrow container */
.selectboxit-arrow-container {
    /* Positions the down arrow */
    width: 28px;
    position: relative;
    float: right;
    background: transparent;
}

/* Drop Down down arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    margin-top: 0;
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    left: 11px;
}

/* Drop Down down arrow for jQueryUI and jQuery Mobile */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
    top: 30%;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-container {
    float: left;
}

.selectboxit-container .selectboxit-option-icon {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-url {
    width: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    float: left;
}

.selectboxit-rendering {
    display: inline-block !important;
    *display: inline !important;
    zoom: 1 !important;
    visibility: visible !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon {
    background-color: inherit;
}

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

/*
  Default Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/
.selectboxit-btn {
    background-color: #fff;
    width: 176px;
    height: 37px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: relative;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: transparent;

}

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
    color: #333333;
}

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
}

.selectboxit-default-arrow {
    width: 8px;
    height: 6px;
    border-radius: 0;
    -moz-transition: all 0.22s ease-in-out;
    -o-transition: all 0.22s ease-in-out;
    -webkit-transition: all 0.22s ease-in-out;
    transition: all 0.22s ease-in-out;
   /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);*/
}
.selectboxit-default-arrow:before{
    content: "";
    display: block;
    position: absolute;
    border-color: #000 #fff #fff #fff;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    height: 0;
    width: 0;
    top: 0;
    left: 1px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

}












.selectboxit-container > .selectboxit.selectboxit-open .selectboxit-default-arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.selectboxit-list {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    width: 100%;
    max-width: 100% !important;
    min-width: 0 !important;
}

.selectboxit-list .selectboxit-option-anchor {
    color: #222221;
}

.selectboxit-list .selectboxit-focus > .selectboxit-option-anchor {

}

.selectboxit-open * {
    color: #222221;
}

.selectboxit-open.selectboxit-btn {

}

.selectboxit-list .selectboxit-disabled > .selectboxit-option-anchor {
    color: #999999;
}
