html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
  	overflow: hidden;
    width: 100%;
    height: 100%;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 20px;
}

ul li {
    font-size: 14px;
    color: #000000;
    line-height: 23px;
}

ol li {
    font-size: 14px;
    color: #000000;
    line-height: 16px;
}

a {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 14px;
    color: #000000;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

a img {
    border: none;
}

b, strong {
    font-weight: bold;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

input[type='text'], input[type='tel'], input[type='email'], input[type='password'], textarea, select {
    height: 40px;
    border: 1px solid rgba(151, 151, 151, .41);
    resize: none;
    padding: 0 10px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    color: #000000;
    width: 100%;
}

@font-face {
    font-family: 'FranklinGothicDemiCondITC-Reg';
    src: url('../fonts/FranklinGothicDemiCondITC-Reg/FranklinGothicDemiCondITC-Reg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FranklinGothicDemiCondITC-Reg/FranklinGothicDemiCondITC-Reg.otf') format('opentype'),
    url('../fonts/FranklinGothicDemiCondITC-Reg/FranklinGothicDemiCondITC-Reg.woff') format('woff'),
    url('../fonts/FranklinGothicDemiCondITC-Reg/FranklinGothicDemiCondITC-Reg.ttf') format('truetype'),
    url('../fonts/FranklinGothicDemiCondITC-Reg/FranklinGothicDemiCondITC-Reg.svg#FranklinGothicDemiCondITC-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #adb0b7;
    min-width: 320px;
  	overflow: hidden;
    width: 100%;
    height: 100%;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 0;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 20px;
}

header .panel {
    float: right;
    display: inline-block;
    position: relative;
}

header .phone {
    display: table;
    float: right;
    width: 90px;
    height: 87px;
    background-color: #d7d8dc;
    position: relative;
}

header .phone a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;

}

header .panel .tel{
    display: inline-block;
    text-decoration: none;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 22px;
    color: #fff;
    line-height: 30px;
    position: absolute;
    top: calc(100% + 3px);
    left: 20px;
}

header .phone a img {
    display: inline-block;
    max-width: 100%;
}

header .logo {
    float: left;
    display: table;
    width: 203px;
    height: 87px;
    background-color: #014c8a;
    background-image: url("../images/logo-fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

header .logo a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

header .logo img {
    display: inline-block;
    max-width: 100%;
}

header nav {
    float: left;
    width: 616px;
    height: 469px;
    position: relative;
    background: url(../images/nav-background.png) center no-repeat;
    margin-left: -130px;
}

header nav a {
    display: inline-block;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

header nav a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    height: 1px;
    background: #fff;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

header nav a:hover:before {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

header nav a.active:before {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}



header nav a:nth-child(1) {
    position: absolute;
    top: 176px;
    left: 90px;
    font-size: 22px;
}

header nav a:nth-child(2) {
    position: absolute;
    top: 265px;
    left: 138px;
    font-size: 30px;
}

header nav a:nth-child(3) {
    position: absolute;
    top: 330px;
    left: 345px;
}

header nav a:nth-child(4) {
    position: absolute;
    top: 202px;
    left: 428px;
    font-size: 24px;
}

header nav a:nth-child(5) {
    position: absolute;
    top: 87px;
    left: 407px;
}

header nav a:nth-child(6) {
    position: absolute;
    top: 62px;
    left: 194px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #page {
        display: block;
    }

    #content {
        display: inline-block;
        width: 100%;
        flex: none !important;
    }
}

#page {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #adb0b7 url(../images/preloader.gif) no-repeat center center;
}
#content {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

footer .copyright {
    display: inline-block;
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #e5e7de;
    line-height: 14px;
    margin: 36px 0;
    margin-bottom: 0;
}

footer .copyright a{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #014c8a;
    line-height: 22px;
    text-decoration: none;
}

footer .copyright a:hover{
    text-decoration: underline;
}

footer .copyright span {
    color: #014c8a;
}

footer .dev {
    display: inline-block;
    float: right;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #014c8a;
    line-height: 14px;
    margin: 36px 0;
}

footer .dev a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #e5e7de;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

footer .dev a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    height: 1px;
    background: #fff;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

footer .dev a:hover:before {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

footer .audio {
    float: right;
    display: table;
    margin-left: 28px;
    width: 90px;
    height: 88px;
    background-color: #d7d8dc;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

footer .audio.close:before{
    content: '';
    width: 40px;
    height: 2px;
    background-color: #444;
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 20px);
    -webkit-transform: rotate(44deg);
    -moz-transform: rotate(44deg);
    -o-transform: rotate(44deg);
}

footer .audio embed{
    position: absolute;
    left: 0;
    top: 10px;
    opacity: 0;
}

footer .audio .wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

footer .audio img {
    display: inline-block;
    max-width: 100%;
}

.section-about {
    max-width: 704px;
    margin-bottom: 85px;
    position: relative;
}

.section-about:before {
    content: url(../images/next-step_1.png);
    display: inline-block;
    position: absolute;
    top: calc(100% - 40px);
    right: calc(100% - 18px);
}

.section-about .head {
    max-width: 468px;
    min-height: 80px;
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    border-left: 26px solid #82aece;
    border-bottom: 1px solid #adb0b7;
    font-family: 'FranklinGothicDemiCondITC-Reg';
    font-size: 23px;
    color: #4488c2;
    line-height: 26px;
    text-transform: uppercase;
    padding: 15px 30px 12px 30px;
}

.section-about .head:before {
    content: '';
    width: 26px;
    height: 8px;
    background-color: #01508f;
    position: absolute;
    bottom: 100%;
    left: -26px;
}

.section-about .content {
    background-color: rgba(255, 255, 255, .5);
    padding: 32px 74px 53px 30px;
    overflow: auto;
    max-height: 340px;
}

.section-about .content .tit {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 23px;
}

.section-about .content p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 20px;
}

.section-about .btn {
    display: inline-block;
    text-decoration: none;
    min-width: 204px;
    height: 38px;
    padding: 0 15px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 38px;
    background-color: #014e8d;
}

/*----------*/


.section-media {
    max-width: 630px;
    margin-bottom: 85px;
    position: relative;
}

.section-media .head {
    max-width: 348px;
    min-height: 80px;
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    border-bottom: 1px solid #adb0b7;
    font-family: 'FranklinGothicDemiCondITC-Reg';
    font-size: 23px;
    color: #4488c2;
    line-height: 26px;
    text-transform: uppercase;
    padding: 15px 30px 12px 30px;
    margin-left: -102px;
    margin-bottom: -1px;
}

.section-media .content {
    background-color: rgba(255, 255, 255, .5);
    padding: 9px;
    border: 1px solid #adb0b7;
}

.section-media .content .tit {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 23px;
}

.section-media .content p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 20px;
}

.section-media .btn {
    display: inline-block;
    text-decoration: none;
    min-width: 204px;
    height: 38px;
    padding: 0 15px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 38px;
    background-color: #014e8d;
}

.slider.slider-for .image{
    width: 100%;
    height: 423px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.slider.slider-for .slick-prev, .slider.slider-for .slick-next {
    top: -9px;
    border-radius: 0;
    width: 102px;
    height: 86px;
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
}

.slider.slider-for .slick-prev{
    background-color: #014c8a;
    background-image: url(../images/logo-fon.png);
    left: -112px;
}

.slider.slider-for .slick-prev:after{
    content: '';
    width: 41px;
    height: 51px;
    background: url("../images/prev.png") center no-repeat;
    position: absolute;
    top:  calc(50% - 26px);
    right: 20px;
}

.slider.slider-for .slick-next{
    background-color: #014c8a;
    background-image: url(../images/logo-fon.png);
    right: -112px;
}

.slider.slider-for .slick-next:after{
    content: '';
    width: 41px;
    height: 51px;
    background: url("../images/next.png") center no-repeat;
    position: absolute;
    top:  calc(50% - 26px);
    left: 20px;
}

.section-media .panel{
    position: absolute;
    top: 87px;
    left: 100%;
    width: 190px;
    min-height: 410px;
    background-color: rgba(255, 255, 255, .5);
    padding: 8px 8px;
}

.section-media .panel .title{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #4488c2;
    text-transform: uppercase;
    margin-bottom: 14px;
    margin-top: 5px;
}

.slider.slider-nav .item{
    cursor: pointer;
    position: relative;
    top: 1px;
}

.slider.slider-nav .item .image{
    margin-bottom: 10px;
	min-height: 118px;
}

.slider.slider-nav .item .image img{
    display: block;
    width: 100%;
}

.slider.slider-nav .item .tit{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 19px;
}


.slider.slider-nav .slick-prev{
    top: -44px;
    left: inherit;
    right: 0;
    border-radius: 0;
    width: 19px;
    height: 15px;
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
    background: url(../images/up.png) center no-repeat;
}

.slider.slider-nav .slick-next {
    top: inherit;
    bottom: -14px;
    right: 0;
    border-radius: 0;
    width: 19px;
    height: 15px;
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
    background: url(../images/down.png) center no-repeat;
}

.slider.slider-nav .slick-prev.slick-disabled{
	opacity: .4;
    cursor: default;
}


.slider.slider-nav .slick-next.slick-disabled{
	opacity: .4;
    cursor: default;
}

















/*----------*/


.section-bid {
    max-width: 704px;
    margin-bottom: 85px;
}

.section-bid .head {
    max-width: 468px;
    min-height: 78px;
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    border-right: 26px solid #82aece;
    border-bottom: 1px solid #adb0b7;
    font-family: 'FranklinGothicDemiCondITC-Reg';
    font-size: 23px;
    color: #4488c2;
    line-height: 26px;
    text-transform: uppercase;
    padding: 15px 30px 12px 34px;
}

.section-bid .head:before {
    content: '';
    width: 26px;
    height: 8px;
    background-color: #01508f;
    position: absolute;
    bottom: 100%;
    right: -26px;
}

.section-bid .head:after {
    content: url(../images/next-step_2.png);
    position: absolute;
    bottom: -16px;
    left: calc(100% + 26px);
}

.section-bid .content {
    background-color: rgba(255, 255, 255, .5);
    padding: 25px 33px 39px 34px;
}

.section-bid .content .tit {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 23px;
}

.section-bid .content p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 20px;
}

.section-bid form .line {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.section-bid form .line:nth-last-child(2) {
    margin-top: 18px;
}

.section-bid form .col {
    float: left;
    width: 55%;
}

.section-bid form .col:nth-of-type(2n) {
    float: right;
    width: calc(100% - 55% - 27px);
}

.section-bid form .col:nth-of-type(2n) label {
    width: 100px;
}

.section-bid form .col:nth-of-type(2n) input {
    width: calc(100% - 106px);
}

.section-bid form label {
    display: block;
    float: left;
    width: 115px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 14px;
}

.section-bid form input {
    float: right;
    width: calc(100% - 120px);
    height: 18px;
    padding: 0 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #6f757f;
}

.section-bid form textarea {
    float: right;
    width: calc(100% - 120px);
    height: 124px;
    padding: 5px 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #6f757f;
}

.section-bid form button {
    margin-left: 120px;
    cursor: pointer;
    outline: none;
    border: none;
    display: inline-block;
    text-decoration: none;
    min-width: 204px;
    height: 38px;
    padding: 0 15px;
    text-align: center;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 18px;
    color: #fff;
    line-height: 38px;
    background-color: #014e8d;
    margin-top: 11px;
}

.section-contact {
    max-width: 867px;
    margin-bottom: 85px;
}

.section-contact .map{
    position: absolute;
    left: 468px;
    bottom: calc(100% - 80px);
    width: calc(100% - 468px);
    height: 302px;
}
.section-contact .map img{
    display: block;
    width: 100%;
}

.section-contact .map a{
    display: block;
    text-decoration: none;
}

.section-contact .head {
    max-width: 468px;
    min-height: 78px;
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    border-right: 26px solid #82aece;
    border-bottom: 1px solid #adb0b7;
    font-family: 'FranklinGothicDemiCondITC-Reg';
    font-size: 23px;
    color: #4488c2;
    line-height: 26px;
    text-transform: uppercase;
    padding: 15px 30px 12px 34px;
}

.section-contact .head:before {
    content: '';
    width: 26px;
    height: 8px;
    background-color: #01508f;
    position: absolute;
    bottom: 100%;
    right: -26px;
}

.section-contact .content {
    background-color: rgba(255, 255, 255, .5);
    padding: 14px 36px 10px 36px;
}

.section-contact .content .tit {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 23px;
}

.section-contact .content p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 20px;
}

.section-contact .title {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    margin-bottom: 23px;
}

.address-wrap {
    display: inline-block;
    width: 100%;
    margin-bottom: 12px;
}

.address-wrap .title {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    float: left;
    max-width: 114px;
    margin-bottom: 0;
}

.address-wrap .address {
    float: right;
    width: calc(100% - 120px);
}

.address-wrap .address .tit {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #4488c2;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.address-wrap .address p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 19px;
}

.team-wrap {
    display: inline-block;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.team-wrap .item {
    float: left;
    width: calc(50% - 12px);
    margin-right: 24px;
    margin-bottom: 42px;
}

.team-wrap .item:nth-of-type(2n) {
    float: right;
    margin-right: 0;
}

.team-wrap .item .image {
    float: left;
    width: 106px;
    min-height: 106px;
    background-color: #adb0b7;
}

.team-wrap .item .image img {
    display: block;
    width: 100%;
}

.team-wrap .item .text {
    float: right;
    width: calc(100% - 106px - 18px);
}

.team-wrap .item .text .name {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #4488c2;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: -6px;
}

.team-wrap .item .text .position {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 19px;
    margin-bottom: 19px;
}

.team-wrap .item .text ul {
    list-style: none;
}

.team-wrap .item .text ul li {
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 19px;
}

.section-doc {
    max-width: 640px;
    margin-bottom: 85px;
    position: relative;
}

.section-doc .head {
    max-width: 468px;
    min-height: 80px;
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    border-left: 26px solid #82aece;
    border-bottom: 1px solid #adb0b7;
    font-family: 'FranklinGothicDemiCondITC-Reg';
    font-size: 23px;
    color: #4488c2;
    line-height: 26px;
    text-transform: uppercase;
    padding: 15px 30px 12px 8px;
}

.section-doc .head:before {
    content: '';
    width: 26px;
    height: 8px;
    background-color: #01508f;
    position: absolute;
    bottom: 100%;
    left: -26px;
}

.section-doc .content {
    background-color: rgba(255, 255, 255, .5);
    padding: 19px 19px 31px 31px;
}

.section-doc .content .tit {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 10px;
}

.section-doc .content p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 12px;
    color: #333333;
    line-height: 19px;
}

.section-doc .btn {
    float: right;
    display: inline-block;
    text-decoration: none;
    min-width: 204px;
    height: 38px;
    padding: 0 15px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 38px;
    background-color: #014e8d;
}

.section-doc .info {
    display: inline-block;
    float: right;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 38px;
    margin-right: 15px;
}

.doc-wrap {
    display: inline-block;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.doc-wrap .item {
    float: left;
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;
}

.doc-wrap .item:nth-of-type(2n) {
    float: right;
    margin-right: 0;
}

.doc-wrap .item .icon {
    float: left;
    width: 41px;
    margin-right: 13px;
}

.doc-wrap .item .icon img {
    display: block;
    max-width: 100%;
}

.doc-wrap .item .text {
    float: left;
    width: calc(100% - 41px - 15px - 100px);
}

.doc-wrap .item .download {
    float: right;
    display: inline-block;
    text-decoration: none;
    height: 26px;
    padding: 0 9px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    line-height: 26px;
    background-color: #014e8d;
    margin-top: 8px;
}

.section-vacancy {
    max-width: 770px;
    margin-bottom: 85px;
    position: relative;
}

.section-vacancy .head {
    float: right;
    max-width: 468px;
    min-width: 364px;
    min-height: 80px;
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    border-left: 26px solid #82aece;
    border-bottom: 1px solid #adb0b7;
    font-family: 'FranklinGothicDemiCondITC-Reg';
    font-size: 23px;
    color: #4488c2;
    line-height: 26px;
    text-transform: uppercase;
    padding: 15px 30px 12px 8px;
}

.section-vacancy .head:before {
    content: '';
    width: 26px;
    height: 8px;
    background-color: #01508f;
    position: absolute;
    bottom: 100%;
    left: -26px;
}

.section-vacancy .content {
    background-color: rgba(255, 255, 255, .5);
    padding: 23px 35px 35px 35px;
    display: inline-block;
    width: 100%;
}

.section-vacancy .content .tit {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 23px;
}

.section-vacancy .content p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 20px;
}

.vacancy-wrap {

}

.vacancy-wrap .item {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.vacancy-wrap .item .date {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    margin-bottom: 6px;
}

.vacancy-wrap .item .text {
    padding-left: 112px;
}

.vacancy-wrap .item .text .tit {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #4488c2;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#section-about{
    position: absolute;
    top: 1546px;
    left: 156px;
    z-index: 2;
}

#section-media {
    position: absolute;
    top: 2925px;
    left: 3874px;
    width: 100%;
    z-index: 2;

    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

#section-bid{
    position: absolute;
    top: 3610px;
    left: 5px;
    width: 100%;
    z-index: 2;

    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

#section-contact{
    position: absolute;
    top: 1090px;
    left: 3575px;
    width: 100%;
    z-index: 2;

    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

#section-doc{
    position: absolute;
    top: 4475px;
    left: 2960px;
    width: 100%;
    z-index: 2;

    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

#section-vacancy{
    position: absolute;
    top: 510px;
    left: 1110px;
    width: 100%;
    z-index: 2;

    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

























#page{
       width: calc(4500px + 524px);
    height: calc(5066px + 490px );
    position: relative;
    left: -1210px;
    top: -1544px;
    transform: translate(1459px,349px);
	left: calc(50vw - 1916px);
}





#background{
    position: absolute;
    top: 251px;
    left: 401px;
	width: calc(100% - 600px);
    height: calc(100% - 600px);
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    
    z-index: -1;
}

#section-wrap{
    position: relative;
    left: 0;
    z-index: 2;
    animation: move-wrap 100s linear;
    -webkit-animation: move-wrap 100s linear;
}


#car{
    position: absolute;
    top: 0;
    left: 0;
    width: 410px;
    height: 731px;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
	background: url(../images/auto_1.png) center no-repeat;
    transform: translate(-100vw,270px)  rotate(26deg);
    -moz-transition: transform 4s ease-in-out!important;
    -o-transition: transform 4s ease-in-out!important;
    -webkit-transition: transform 4s ease-in-out!important;
    transition: transform 4s ease-in-out!important;

}


.doc-bid #car{
	background: url(../images/auto_2.png) center no-repeat;
}

.bid-about #car{
	background: url(../images/auto_3.png) center no-repeat;
}

.contact-bid #car{
	background: url(../images/auto_4.png) center no-repeat;
}

.vacancy-doc #car{
	background: url(../images/auto_2.png) center no-repeat;
}


.about-media #car{
	background: url(../images/auto_2.png) center no-repeat;
}

.about-vacancy #car{
	background: url(../images/auto_2.png) center no-repeat;
}



.media-about #car{
	background: url(../images/auto_3.png) center no-repeat;
}

.contact-doc #car{
	background: url(../images/auto_3.png) center no-repeat;
}

.vacancy-contact #car{
	background: url(../images/auto_3.png) center no-repeat;
}

.about-doc #car{
	background: url(../images/auto_3.png) center no-repeat;
}



.vacancy-bid #car{
	background: url(../images/auto_4.png) center no-repeat;
}

.media-contact #car{
	background: url(../images/auto_4.png) center no-repeat;
}

.about-contact #car{
	background: url(../images/auto_4.png) center no-repeat;
}

.contact-media #car{
	background: url(../images/auto_4.png) center no-repeat;
}




.contact-bid #car{
	background: url(../images/auto_5.png) center no-repeat;
}

.bid-contact #car{
	background: url(../images/auto_5.png) center no-repeat;
}

.media-vacancy #car{
	background: url(../images/auto_5.png) center no-repeat;
}




#car:before{
    content: '';
    width: 276px;
    height: 598px;
    background: url("../images/car/trail.png") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translate(-63px,17px) rotate(-15deg);
	display: none;
}

#car:after{
    content: '';
    width: 245px;
    height: 306px;
    background: url(../images/car/cabin.png) no-repeat;
    position: absolute;
    bottom: 0;
    right: 18px;
    animation: move-after 100s linear;
    -webkit-animation: move-after 100s linear;
    transform: translate(-2px,0px) rotate(2deg);
	display: none;
}


/*---------about---------*/


.bid-about #page{
    animation: bid-about 2s linear forwards;
    -webkit-animation: bid-about 2s linear forwards;
}

.doc-about #page{
    animation: doc-about 2s linear forwards;
    -webkit-animation: doc-about 2s linear forwards;
}

.media-about #page{
    animation: media-about 2s linear forwards;
    -webkit-animation: media-about 2s linear forwards;
}

.contact-about #page{
    animation: contact-about 2s linear forwards;
    -webkit-animation: contact-about 2s linear forwards;
}

.vacancy-about #page{
    animation: vacancy-about 2s linear forwards;
    -webkit-animation: vacancy-about 2s linear forwards;
}

@keyframes bid-about {
    0% {
        transform: translate(1392px,-1745px);
        left: calc(50vw - 1722px);
    }
    100% {
        transform: translate(1459px,349px);
        left: calc(50vw - 1950px);
    }
}

@keyframes doc-about {
    0% {
        transform: translate(-920px,-2539px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(1459px,349px);
        left: calc(50vw - 1950px);
    }
}

@keyframes media-about {
    0% {
        transform: translate(-1877px,-1154px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(1459px,349px);
        left: calc(50vw - 1950px);
    }
}

@keyframes contact-about {
    0% {
        transform: translate(-1650px,698px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(1459px,349px);
        left: calc(50vw - 1950px);
    }
}

@keyframes vacancy-about {
    0% {
        transform: translate(504px,1027px);
        left: calc(50vw - 1954px);
        top: -1322px;
    }
    100% {
        transform: translate(1459px,349px);
        left: calc(50vw - 1950px);
    }
}


/*---------/about---------------------------------------*/







/*---------bid---------*/


.about-bid #page{
    animation: about-bid 2s linear forwards;
    -webkit-animation: about-bid 2s linear forwards;
}

.doc-bid #page{
    animation: doc-bid 2s linear forwards;
    -webkit-animation: doc-bid 2s linear forwards;
}

.media-bid #page{
     animation: media-bid 2s linear forwards;
    -webkit-animation: media-bid 2s linear forwards;
}

.contact-bid #page{
     animation: contact-bid 2s linear forwards;
    -webkit-animation: contact-bid 2s linear forwards;
}

.vacancy-bid #page{
    animation: vacancy-bid 2s linear forwards;
    -webkit-animation: vacancy-bid 2s linear forwards;
}


@keyframes about-bid {
    0% {
        transform: translate(1459px,349px);
        left: calc(50vw - 1950px);
    }
    100% {
        transform: translate(1392px,-1745px);
        left: calc(50vw - 1722px);
    }
}


@keyframes doc-bid {
    0% {
        transform: translate(-920px,-2539px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(1392px,-1745px);
        left: calc(50vw - 1722px);
    }
}

@keyframes media-bid {
    0% {
        transform: translate(-1877px,-1154px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(1392px,-1745px);
        left: calc(50vw - 1722px);
    }
}

@keyframes contact-bid {
    0% {
        transform: translate(-1650px,698px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(1392px,-1745px);
        left: calc(50vw - 1722px);
    }
}

@keyframes vacancy-bid {
    0% {
        transform: translate(504px,1027px);
        left: calc(50vw - 1954px);
        top: -1322px;
    }
    100% {
        transform: translate(1392px,-1745px);
        left: calc(50vw - 1722px);
    }
}











/*---------/bid----------------------------------------------*/






/*---------doc---------*/

.about-doc #page{
    animation: about-doc 2s linear forwards;
    -webkit-animation: about-doc 2s linear forwards;
}

.bid-doc #page{
    animation: bid-doc 2s linear forwards;
    -webkit-animation: bid-doc 2s linear forwards;
}

.media-doc #page{
    animation: media-doc 2s linear forwards;
    -webkit-animation: media-doc 2s linear forwards;
}

.contact-doc #page{
  animation: contact-doc 2s linear forwards;
    -webkit-animation: contact-doc 2s linear forwards;
}


.vacancy-doc #page{
   animation: vacancy-doc 2s linear forwards;
    -webkit-animation: vacancy-doc 2s linear forwards;
}

@keyframes about-doc {
    0% {
        transform: translate(1459px,349px);
        left: calc(50vw - 1950px);
    }
    100% {
        transform: translate(-920px,-2539px);
        left: calc(50vw - 2338px);
    }
}

@keyframes bid-doc {
    0% {
        transform: translate(1392px,-1745px);
        left: calc(50vw - 1722px);
    }
    100% {
        transform: translate(-920px,-2539px);
        left: calc(50vw - 2338px);
    }
}

@keyframes media-doc {
    0% {
        transform: translate(-1877px,-1154px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(-920px,-2539px);
        left: calc(50vw - 2338px);
    }
}

@keyframes contact-doc {
    0% {
        transform: translate(-1650px,698px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(-920px,-2539px);
        left: calc(50vw - 2338px);
    }
}

@keyframes vacancy-doc {
    0% {
        transform: translate(504px,1027px);
        left: calc(50vw - 1954px);
        top: -1322px;
    }
    100% {
        transform: translate(-920px,-2539px);
        left: calc(50vw - 2338px);
    }
}

/*---------/doc------------------------------------------------*/








/*---------media---------*/

.about-media #page{
  animation: about-media 2s linear forwards;
    -webkit-animation: about-media 2s linear forwards;
}

.bid-media #page{
     animation: bid-media 2s linear forwards;
    -webkit-animation: bid-media 2s linear forwards;
}

.doc-media #page{
     animation: doc-media 2s linear forwards;
    -webkit-animation: doc-media 2s linear forwards;
}

.contact-media #page{
     animation: contact-media 2s linear forwards;
    -webkit-animation: contact-media 2s linear forwards;
}

.vacancy-media #page{
    animation: vacancy-media 2s linear forwards;
    -webkit-animation: vacancy-media 2s linear forwards;
}

@keyframes about-media {
    0% {
        transform: translate(1459px,349px);
        left: calc(50vw - 1950px);
    }
    100% {
        transform: translate(-1877px,-1154px);
        left: calc(50vw - 2338px);
    }
}

@keyframes bid-media {
    0% {
        transform: translate(1392px,-1745px);
        left: calc(50vw - 1722px);
    }
    100% {
        transform: translate(-1877px,-1154px);
        left: calc(50vw - 2338px);
    }
}

@keyframes doc-media {
    0% {
        transform: translate(-920px,-2539px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(-1877px,-1154px);
        left: calc(50vw - 2338px);
    }
}

@keyframes contact-media {
    0% {
        transform: translate(-1650px,698px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(-1877px,-1154px);
        left: calc(50vw - 2338px);
    }
}

@keyframes vacancy-media {
    0% {
        transform: translate(504px,1027px);
        left: calc(50vw - 1954px);
        top: -1322px;
    }
    100% {
        transform: translate(-1877px,-1154px);
        left: calc(50vw - 2338px);
    }
}

/*---------/media---------------------------------------------*/






/*---------contact---------*/

.about-contact #page{
     animation: about-contact 2s linear forwards;
    -webkit-animation: about-contact 2s linear forwards;
}

.bid-contact #page{
    animation: bid-contact 2s linear forwards;
    -webkit-animation: bid-contact 2s linear forwards;
}

.doc-contact #page{
    animation: doc-contact 2s linear forwards;
    -webkit-animation: doc-contact 2s linear forwards;
}

.media-contact #page{
    animation: media-contact 2s linear forwards;
    -webkit-animation: media-contact 2s linear forwards;
}

.vacancy-contact #page{
     animation: vacancy-contact 2s linear forwards;
    -webkit-animation: vacancy-contact 2s linear forwards;
}

@keyframes about-contact {
    0% {
        transform: translate(1459px,349px);
        left: calc(50vw - 1950px);
    }
    100% {
        transform: translate(-1650px,698px);
        left: calc(50vw - 2338px);
    }
}

@keyframes bid-contact {
    0% {
        transform: translate(1392px,-1745px);
        left: calc(50vw - 1722px);
    }
    100% {
        transform: translate(-1650px,698px);
        left: calc(50vw - 2338px);
    }
}

@keyframes doc-contact {
    0% {
        transform: translate(-920px,-2539px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(-1650px,698px);
        left: calc(50vw - 2338px);
    }
}

@keyframes media-contact {
    0% {
        transform: translate(-1877px,-1154px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(-1650px,698px);
        left: calc(50vw - 2338px);
    }
}

@keyframes vacancy-contact {
    0% {
        transform: translate(504px,1027px);
        left: calc(50vw - 1954px);
        top: -1322px;
    }
    100% {
        transform: translate(-1650px,698px);
        left: calc(50vw - 2338px);
    }
}

/*---------/contact-------------------------------------------*/







/*---------vacancy---------*/

.about-vacancy #page{
    animation: about-vacancy 2s linear forwards;
    -webkit-animation: about-vacancy 2s linear forwards;
}

.bid-vacancy #page{
    animation: bid-vacancy 2s linear forwards;
    -webkit-animation: bid-vacancy 2s linear forwards;
}

.doc-vacancy #page{
     animation: doc-vacancy 2s linear forwards;
    -webkit-animation: doc-vacancy 2s linear forwards;
}

.media-vacancy #page{
     animation: media-vacancy 2s linear forwards;
    -webkit-animation: media-vacancy 2s linear forwards;
}

.contact-vacancy #page{
    animation: contact-vacancy 2s linear forwards;
    -webkit-animation: contact-vacancy 2s linear forwards;
}

@keyframes about-vacancy {
    0% {
        transform: translate(1459px,349px);
        left: calc(50vw - 1950px);
    }
    100% {
        transform: translate(504px,1027px);
        left: calc(50vw - 1954px);
        top: -1322px;
    }
}

@keyframes bid-vacancy {
    0% {
        transform: translate(1392px,-1745px);
        left: calc(50vw - 1722px);
    }
    100% {
        transform: translate(504px,1027px);
        left: calc(50vw - 1954px);
        top: -1322px;
    }
}

@keyframes doc-vacancy {
    0% {
        transform: translate(-920px,-2539px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(504px,1027px);
        left: calc(50vw - 1954px);
        top: -1322px;
    }
}

@keyframes media-vacancy {
    0% {
        transform: translate(-1877px,-1154px);
        left: calc(50vw - 2338px);
    }
    100% {
        transform: translate(504px,1027px);
        left: calc(50vw - 1954px);
        top: -1322px;
    }
}

@keyframes contact-vacancy {
    0% {
        left: calc(50vw - 2338px);
        transform: translate(-1650px,698px);
    }
    100% {
        transform: translate(504px,1027px);
        left: calc(50vw - 1954px);
        top: -1322px;
    }
}

/*---------/vacancy----------------------------------------------*/

















/*---------------------------------------------car--------------------------------------------------*/




/*---------about---------*/


.bid-about #car{
    animation: bid-about1 4s linear forwards;
    -webkit-animation: bid-about1 4s linear forwards;
}

.doc-about #car{
    animation: doc-about1 4s linear forwards;
    -webkit-animation: doc-about1 4s linear forwards;
}

.media-about #car{
    animation: media-about1 4s linear forwards;
    -webkit-animation: media-about1 4s linear forwards;
}

.contact-about #car{
    animation: contact-about1 4s linear forwards;
    -webkit-animation: contact-about1 4s linear forwards;
}

.vacancy-about #car{
    animation: vacancy-about1 4s linear forwards;
    -webkit-animation: vacancy-about1 4s linear forwards;
}

@keyframes bid-about1 {
    0% {
        top: 39px;
        left: calc(150vw - 735px);
        transform: translate(-100vw,4500px) rotate(205deg);
    }
    100% {
        top: 39px;
        left: calc(150vw - 735px);
        transform: translate(-100vw,0) rotate(205deg);

    }
}

@keyframes doc-about1 {
    0% {
        top: 0;
        left: 0;
        transform: translate(3930px,5000px) rotate(167deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(-100vw,270px) rotate(167deg);
    }
}

@keyframes media-about1 {
    0% {
        top: 0;
        left: 0;
        transform: translate(5500px,2745px) rotate(134deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(-100vw,1070px) rotate(134deg);
    }
}

@keyframes contact-about1 {
    0% {
        top: 0;
        left: 0;
        transform: translate(5500px,745px) rotate(110deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(-100vw,1070px) rotate(110deg);
    }



}

@keyframes vacancy-about1 {
    0% {
        top: 0;
        left: 0;
        transform: translate(1800px,-700px) rotate(70deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(-100vw,1570px) rotate(70deg);
    }
}


/*---------/about---------------------------------------*/







/*---------bid---------*/


.about-bid #car{
    animation: about-bid1 4s linear forwards;
    -webkit-animation: about-bid1 4s linear forwards;
}

.doc-bid #car{
    animation: doc-bid1 4s linear forwards;
    -webkit-animation: doc-bid1 4s linear forwards;
}

.media-bid #car{
    animation: media-bid1 4s linear forwards;
    -webkit-animation: media-bid1 4s linear forwards;
}

.contact-bid #car{
    animation: contact-bid1 4s linear forwards;
    -webkit-animation: contact-bid1 4s linear forwards;
}

.vacancy-bid #car{
    animation: vacancy-bid1 4s linear forwards;
    -webkit-animation: vacancy-bid1 4s linear forwards;
}


@keyframes about-bid1 {
    0% {
        top: 39px;
        left: calc(150vw - 735px);
        transform: translate(-100vw,0) rotate(25deg);
    }
    100% {
        top: 39px;
        left: calc(150vw - 735px);
        transform: translate(-100vw,4500px) rotate(25deg);
    }
}


@keyframes doc-bid1 {
    0% {
        top: 3839px;
        left: 0;
        transform: translate(4000px,0) rotate(127deg);
    }
    100% {
        top: 3139px;
        left: 0;
        transform: translate(-100vw,0) rotate(127deg);
    }
}

@keyframes media-bid1 {
    0% {
        top: 0;
        left: 0;
        transform: translate(5000px,2600px) rotate(115deg);
    }
    100% {
        top: 3070px;
        left: 0;
        transform: translate(-100vw,0) rotate(115deg);
    }
}

@keyframes contact-bid1 {
    0% {
        top: 0;
        left: 0;
        transform: translate(5001px,600px) rotate(95deg);
    }
    100% {
        top: 3270px;
        left: 0;
        transform: translate(-100vw,0) rotate(95deg);
    }
}

@keyframes vacancy-bid1 {
    0% {
        top: -1000px;
        left: calc(150vw - 435px);
        transform: translate(-100vw,0) rotate(25deg);
    }
    100% {
        top: 39px;
        left: calc(150vw - 735px);
        transform: translate(-100vw,4500px) rotate(25deg);
    }
}











/*---------/bid----------------------------------------------*/






/*---------doc---------*/

.about-doc #car{
    animation: about-doc1 4s linear forwards;
    -webkit-animation: about-doc1 4s linear forwards;
}

.bid-doc #car{
    animation: bid-doc1 4s linear forwards;
    -webkit-animation: bid-doc1 4s linear forwards;
}

.media-doc #car{
    animation: media-doc1 4s linear forwards;
    -webkit-animation: media-doc1 4s linear forwards;
}

.contact-doc #car{
    animation: contact-doc1 4s linear forwards;
    -webkit-animation: contact-doc1 4s linear forwards;
}


.vacancy-doc #car{
    animation: vacancy-doc1 4s linear forwards;
    -webkit-animation: vacancy-doc1 4s linear forwards;
}

@keyframes about-doc1 {
    0% {
        top: 0;
        left: 0;
        transform: translate(-100vw,270px) rotate(-13deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(3930px,5000px) rotate(-13deg);
    }
}

@keyframes bid-doc1 {
    0% {
        top: 3139px;
        left: 0;
        transform: translate(-100vw,0) rotate(-53deg);
    }
    100% {
        top: 3839px;
        left: 0;
        transform: translate(5500px,0) rotate(-53deg);
    }
}

@keyframes media-doc1 {
    0% {
        top: 39px;
        left: 2800px;
        transform: translate(0,0px) rotate(25deg);
    }
    100% {
        top: 39px;
        left: 3000px;
        transform: translate(0,5000px) rotate(25deg);
    }
}

@keyframes contact-doc1 {
    0% {
        top: 39px;
        left: 2800px;
        transform: translate(0,-1000px) rotate(25deg);
    }
    100% {
        top: 39px;
        left: 3000px;
        transform: translate(0,5000px) rotate(25deg);
    }
}

@keyframes vacancy-doc1 {
    0% {
        top: 39px;
        left: 800px;
        transform: translate(0,-1000px) rotate(4deg);
    }
    100% {
        top: 39px;
        left: 3000px;
        transform: translate(0,5000px) rotate(4deg);
    }
}

/*---------/doc------------------------------------------------*/








/*---------media---------*/

.about-media #car{
    animation: about-media1 4s linear forwards;
    -webkit-animation: about-media1 4s linear forwards;
}

.bid-media #car{
    animation: bid-media1 4s linear forwards;
    -webkit-animation: bid-media1 4s linear forwards;
}

.doc-media #car{
    animation: doc-media1 4s linear forwards;
    -webkit-animation: doc-media1 4s linear forwards;
}

.contact-media #car{
    animation: contact-media1 4s linear forwards;
    -webkit-animation: contact-media1 4s linear forwards;
}

.vacancy-media #car{
    animation: vacancy-media1 4s linear forwards;
    -webkit-animation: vacancy-media1 4s linear forwards;
}

@keyframes about-media1 {
    0% {
        top: 0;
        left: 0;
        transform: translate(-100vw,1070px) rotate(-46deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(5500px,2745px) rotate(-46deg);
    }
}

@keyframes bid-media1 {
    0% {
        top: 3070px;
        left: 0;
        transform: translate(-100vw,0) rotate(-65deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(6000px,2600px) rotate(-65deg);
    }
}

@keyframes doc-media1 {
    0% {
        top: 39px;
        left: 3000px;
        transform: translate(0,5000px) rotate(205deg);
    }
    100% {
        top: 39px;
        left: 2800px;
        transform: translate(0,0px) rotate(205deg);
    }
}

@keyframes contact-media1 {
    0% {
        top: -1000px;
        left: 3500px;
        transform: translate(0,0px) rotate(25deg);
    }
    100% {
        top: 4000px;
        left: 3500px;
        transform: translate(0,0px) rotate(25deg);
    }
}

@keyframes vacancy-media1 {
    0% {
        top: -1000px;
        left: 1000px;
        transform: translate(0,0px) rotate(0deg);
    }
    100% {
        top: 4000px;
        left: 3500px;
        transform: translate(0,0px) rotate(0deg);
    }
}

/*---------/media---------------------------------------------*/






/*---------contact---------*/

.about-contact #car{
    animation: about-contact1 4s linear forwards;
    -webkit-animation: about-contact1 4s linear forwards;
}

.bid-contact #car{
    animation: bid-contact1 4s linear forwards;
    -webkit-animation: bid-contact1 4s linear forwards;
}

.doc-contact #car{
    animation: doc-contact1 4s linear forwards;
    -webkit-animation: doc-contact1 4s linear forwards;
}

.media-contact #car{
    animation: media-contact1 4s linear forwards;
    -webkit-animation: media-contact1 4s linear forwards;
}

.vacancy-contact #car{
    animation: vacancy-contact1 4s linear forwards;
    -webkit-animation: vacancy-contact1 4s linear forwards;
}

@keyframes about-contact1 {
    0% {
        top: 0;
        left: 0;
        transform: translate(-100vw,1070px) rotate(-70deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(5500px,745px) rotate(-70deg);
    }
}

@keyframes bid-contact1 {
    0% {
        top: 3270px;
        left: 0;
        transform: translate(-100vw,0) rotate(-85deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(5001px,600px) rotate(-85deg);
    }
}

@keyframes doc-contact1 {
    0% {
        top: 39px;
        left: 3000px;
        transform: translate(0,5000px) rotate(205deg);
    }
    100% {
        top: 39px;
        left: 2800px;
        transform: translate(0,-1000px) rotate(205deg);
    }
}

@keyframes media-contact1 {
    0% {
        top: 4000px;
        left: 3500px;
        transform: translate(0,0px) rotate(205deg);
    }
    100% {
        top: -1000px;
        left: 3500px;
        transform: translate(0,0px) rotate(205deg);
    }
}

@keyframes vacancy-contact1 {
    0% {
        top: 365px;
        left: -1000px;
        transform: translate(0,0px) rotate(-60deg);
    }
    100% {
        top: 665px;
        left: 5000px;
        transform: translate(0,0px) rotate(-60deg);
    }
}

/*---------/contact-------------------------------------------*/







/*---------vacancy---------*/

.about-vacancy #car{
    animation: about-vacancy1 4s linear forwards;
    -webkit-animation: about-vacancy1 4s linear forwards;
}

.bid-vacancy #car{
    animation: bid-vacancy1 4s linear forwards;
    -webkit-animation: bid-vacancy1 4s linear forwards;
}

.doc-vacancy #car{
    animation: doc-vacancy1 4s linear forwards;
    -webkit-animation: doc-vacancy1 4s linear forwards;
}

.media-vacancy #car{
    animation: media-vacancy1 4s linear forwards;
    -webkit-animation: media-vacancy1 4s linear forwards;
}

.contact-vacancy #car{
    animation: contact-vacancy1 4s linear forwards;
    -webkit-animation: contact-vacancy1 4s linear forwards;
}

@keyframes about-vacancy1 {
    0% {
        top: 0;
        left: 0;
        transform: translate(-100vw,1570px) rotate(-110deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(1800px,-700px) rotate(-110deg);
    }
}

@keyframes bid-vacancy1 {
    0% {
        top: 39px;
        left: calc(150vw - 735px);
        transform: translate(-100vw,4500px) rotate(205deg);
    }
    100% {
        top: -1000px;
        left: calc(150vw - 435px);
        transform: translate(-100vw,0) rotate(205deg);

    }
}

@keyframes doc-vacancy1 {
    0% {
        top: 39px;
        left: 3000px;
        transform: translate(0,5000px) rotate(184deg);
    }
    100% {
        top: 39px;
        left: 800px;
        transform: translate(0,-1000px) rotate(184deg);
    }
}

@keyframes media-vacancy1 {
    0% {
        top: 4000px;
        left: 3500px;
        transform: translate(0,0px) rotate(180deg);
    }
    100% {
        top: -1000px;
        left: 1000px;
        transform: translate(0,0px) rotate(180deg);
    }
}

@keyframes contact-vacancy1 {
    0% {
        top: 665px;
        left: 5000px;
        transform: translate(0,0px) rotate(120deg);
    }
    100% {
        top: 365px;
        left: -1000px;
        transform: translate(0,0px) rotate(120deg);
    }
}

/*---------/vacancy----------------------------------------------*/





/*---------------------------------------------/car--------------------------------------------------*/





header .mob-nav{
    display: none;
}


.page .container{
    max-width: 937px;
}

.page header{
    position: relative;
    height: auto;
}

.page footer{
    position: relative;
    height: auto;
}

.page header .container{
    background-color: #3e3e3f;
    padding: 0;
    position: relative;
}

.page footer .container{
    padding: 0;
}
/*
.page #auto{
    width: 199px;
    height: 773px;
    background: url("../images/auto.png") no-repeat center;
    position: fixed;
    top: 0;
    left: calc(50% - 667px)!important;
    z-index: -1;
}
*/
.page #auto {
    width: 166px;
    height: 530px;
    background: url(../images/auto.png) no-repeat center;
    background-size: contain;
    position: fixed;
    top: 0;
    left: calc(50% - 635px)!important;
    z-index: -1;
}


header .nav{
    float: left;
    display: inline-block;
    padding: 32px 0 0 39px;
}

header .nav > li{
    display: inline-block;
    margin-right: 46px;
    position: relative;
}

header .nav > li > a{
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

header .nav > li > a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    height: 1px;
    background: #fff;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

header .nav > li > a:hover:before {
     -webkit-transform-origin: left center;
     -ms-transform-origin: left center;
     transform-origin: left center;
     -webkit-transform: scale(1, 1);
     -ms-transform: scale(1, 1);
     transform: scale(1, 1);
 }

header .nav > li:hover > a:before {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}


header .nav > li > a.active:before {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

header .nav > li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 214px;
    padding-top: 5px;
    list-style: none;
    display: none;
}

header .nav > li:hover ul{
    display: block;
}

header .nav > li ul li{
    background-color: rgba(255,255,255,.7);
    border-bottom: 1px solid #adb0b7;
}

header .nav > li ul li:nth-last-child(1){
    border-bottom: none;
}

header .nav > li ul li a{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    color: #014c8a;
    line-height: 18px;
    text-decoration: none;
    display: block;
    padding: 18px 18px 18px 18px;
    border-left: 0 solid #014e8d;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

header .nav > li ul li a:hover{
    border-left-width: 12px;
}





#content h1{
    font-family: 'FranklinGothicDemiCondITC-Reg';
    font-size: 23px;
    color: #4488c2;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 41px;
    position: relative;
}

#content h1:before{
    content: '';
    width: 27px;
    height: 87px;
    background-color: #015494;
    position: absolute;
    top: calc(50% - 44px);
    left: -66px;
}

#content h2{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 15px;
    padding: 6px 0;
}

#content p{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 12px;
    color: #333333;
    line-height: 22px;
    margin-bottom: 22px;
}

#content ul{
    padding-left: 38px;
    list-style: none;
}

#content ul li{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #4488c2;
    line-height: 19px;
    text-transform: uppercase;
    margin: 17px 0;
}

#content img{
    max-width: 100%;
}

#content .image{
    margin: 22px 0;
}

#content .image img{
    width: 100%;
}

.form-calc{
    margin-top: 47px;
}

.form-calc .calc{
    background-color: #424243;
    padding: 23px 28px 9px 28px;
}

.form-calc form .title{
    font-family: 'FranklinGothicDemiCondITC-Reg';
    font-size: 23px;
    color: #4488c2;
    line-height: 26px;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.form-calc form .line{
    display: inline-block;
    width: 100%;
}

.form-calc form .col{
    float: left;
    margin-bottom: 10px;
    width: calc(50% - 5px);
    max-width: 313px;
    margin-right: 13px;
}



.form-calc form label{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 12px;
    color: #d7d8dc;
    line-height: 22px;
    display: block;
    margin-bottom: 4px;
}

.form-calc form input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 10px;
    background: #6f757f;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 12px;
    color: #fff;
}

.form-calc form .bottom{
    display: inline-block;
    width: 100%;
}

.form-calc form button{
    display: inline-block;
    text-decoration: none;
    min-width: 204px;
    height: 38px;
    padding: 0 15px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 38px;
    background-color: #014e8d;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    float: left;
}

.form-calc form .check{
    display: inline-block;
    padding: 10px 0;
}


.checkbox-btn {
    vertical-align: top;
    width: 0 !important;
}

.checkbox-btn + label {
    cursor: pointer;
    padding-left: 30px;
}

.checkbox-btn:not(checked) {
    position: absolute;
    opacity: 0;
}

.checkbox-btn:not(checked) + label {
    position: relative;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 12px;
    color: #333333;
    cursor: pointer;
    line-height: 18px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    float: none;
    display: block;
}

.checkbox-btn:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 2px solid #6f757f;
}


.checkbox-btn:checked + label:before {
    background-color: #0164a6;
}







#content{
    margin: 35px 0;
}

#content .container{
    background-color: rgba(255,255,255,.51);
    padding: 58px 95px 66px 66px;
}





footer{
    text-align: center;
}


footer .nav{
	display: inline-block;
    padding: 32px 39px 32px 39px;
    background-color: rgb(135, 140, 148);
}

footer .nav > li{
	display: inline-block;
    margin-right: 46px;
    position: relative;
}

footer .nav > li:nth-last-child(1){
    margin-right: 0;
}


footer .nav > li > a{
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

footer .nav > li > a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    height: 1px;
    background: #fff;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

footer .nav > li > a:hover:before {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

footer .nav > li:hover > a:before {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}


footer .nav > li > a.active:before {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

footer .nav > li ul{
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 214px;
    padding-top: 5px;
    list-style: none;
    display: none;
}

footer .nav > li:hover ul{
    display: block;
}

footer .nav > li ul li{
    background-color: rgba(255,255,255,.7);
    border-bottom: 1px solid #adb0b7;
}

footer .nav > li ul li:nth-last-child(1){
    border-bottom: none;
}

footer .nav > li ul li a{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    color: #014c8a;
    line-height: 18px;
    text-decoration: none;
    display: block;
    padding: 18px 18px 18px 18px;
    border-left: 0 solid #014e8d;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

footer .nav > li ul li a:hover{
    border-left-width: 12px;
}




.scrollbar-thumb{
    border-radius: 0!important;
}

.scrollbar-track:before {
    content: '';
    width: 10px;
    height: 100%;
    background-color: #e5e4e2;
    position: absolute;
    top: 0;
    left: 0;
}

.scrollbar-track:before {
    background-color: rgba(18, 87, 145, 0.08);
}


.section-about .content{
    padding: 0;
    max-height: 365px;
}

.section-about .content .scroll-content{
    padding: 32px 74px 53px 30px;
}


.section-bid .content{
    padding: 0;
    max-height: 340px;
}

.section-bid .content .scroll-content{
    padding: 32px 32px 30px 30px;
}

.section-doc .content{
    padding: 0;
    max-height: 340px;
}

.section-doc .content .scroll-content{
    padding: 32px 32px 30px 30px;
}

.section-contact .content{
    padding: 0;
    max-height: calc(100vh - 510px);
}

.section-contact .content .scroll-content{
    padding: 32px 32px 30px 30px;
}


.section-vacancy .content{
    padding: 0;
    max-height: 340px;
}

.section-vacancy .content .scroll-content{
    padding: 32px 32px 30px 30px;
}


.section-media .content{
	position: relative;
}

.section-media .slider-for{
	position:relative;
	z-index:-1;
	opacity: 0;
	visibility: hidden;
	height: 0;
}

.section-media .slider-for:nth-child(1){
	z-index: 1;
	visibility:visible;
	opacity: 1!important;
	height: auto;
}

.section-media .slider-for.none{
	visibility: hidden;
	z-index:-1!important;
	opacity: 0!important;
	height: 0;
}

.section-media .slider-for.active{
visibility:visible;
	z-index: 1!important;
	opacity: 1!important;
height: auto;
}


.slider.slider-nav .item .image{
	position:relative;
}

.slider.slider-nav .item .image:before{
	content:'';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(1, 95, 161,.6);
	opacity: 0;
	z-index: 1;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.slider.slider-nav .slick-current .item .image:before{
	opacity: 1;
}























@media (max-width: 1440px){
    header nav {
        margin-left: -84px;
    }
}
@media (max-height: 969px) and (min-width: 1025px){
    header nav {
        float: left;
        width: 345px;
        height: 345px;
        position: relative;
        background: url(../images/nav-background.png) center no-repeat;
        margin-left: -100px;
        background-size: contain;
        margin-top: -32px;
        margin-left: 20px;
    }

    header nav a:nth-child(6) {
        top: 66px;
        left: 76px;
    }

    header nav a:nth-child(1) {
        top: 130px;
        left: 0;
    }

    header nav a:nth-child(2) {
        top: 192px;
        left: 38px;
    }
    header nav a:nth-child(5) {
        top: 84px;
        left: 236px;
    }

    header nav a:nth-child(4) {
        top: 140px;
        left: 238px;
    }

    header nav a:nth-child(3) {
        top: 223px;
        left: 205px;
    }

    .section-about:before{
        display: none;
    }

    #section-about {
        top: 1434px;
        left: 166px;
    }

    .section-about .content {
        max-height: calc(100vh - 350px);
    }

    footer .nav {
        padding: 12px 39px 14px 39px;
        border-radius: 5px 5px 0 0;
    }

    footer .audio {
        width: 60px;
        height: 50px;
    }

    footer .dev{
        margin: 18px 0;
    }

    footer .copyright{
        margin: 18px 0;
    }

    #section-bid {
        top: 3443px;
        left: 20px;
    }

    #section-bid .content{
        max-height: calc(100vh - 310px);
    }

    .section-doc .content{
        max-height: calc(100vh - 350px);
    }

    #section-doc {
        top: 4310px;
        left: 2950px;
    }


    #section-contact {
        max-width: 640px;
        top: 1060px;
        left: 3688px;
    }

    .section-contact .content{
        max-height: calc(100vh - 350px);
    }

    .section-vacancy .content{
        max-height: calc(100vh - 350px);
    }

    #section-vacancy {
        max-width: 640px;
        top: 460px;
        left: 1180px;
    }


}

@media (min-width: 1025px) and (max-width: 1320px){


    footer .nav > li{
        margin-right: 20px;
    }

    footer .nav > li > a{
        font-size: 18px;
    }
    footer .nav {
        padding: 13px 39px 14px 39px;
    }
    header nav{
        display: inline-block!important;
    }
    .section-about .content {
        max-height: calc(100vh - 500px);
    }

    #section-bid .content{
        max-height: calc(100vh - 500px);
    }

    .section-doc .content{
        max-height: calc(100vh - 500px);
    }

    .section-contact .content{
        max-height: calc(100vh - 500px);
    }
    .section-vacancy .content{
        max-height: calc(100vh - 500px);
    }


}






@media (max-width: 1600px) {
    .container{
        padding: 0;
    }
    footer .copyright{
        margin-left: 20px;
    }






}

@media (max-width: 1300px){
    #page{
        top: -1400px;
    }
    #car{
        display: none;
    }





}


@media (max-width: 1025px){
    footer{
        position: relative;
    }
    #page .section-wrap{
        padding-bottom: 0!important;
    }
    footer .copyright {
        top: 138px;
        position: relative;
    }
    .section-about .content {
        max-height: inherit;
    }

    #section-bid .content{
        max-height: inherit;
    }

    .section-doc .content{
        max-height: inherit;
    }

    .section-contact .content{
        max-height: inherit;
    }
    .section-vacancy .content{
        max-height: inherit;
    }
    html, body {
        overflow: inherit;
    }
    footer .nav{
        width: 100%;
    }
    #page{
        min-height: calc(100vh - 226px);
    }
    .section-about:before{
        display: none;
    }
    header{
        height: 87px;
        background-color: #d7d8dc;
    }
    header nav {
        margin-left: 0;
        width: 100%;
        height: auto;
        background: #d7d8dc;
        padding: 20px 15px;
        position: absolute;
        top: 100%;
        left: 0;
        border-top: 1px solid #014b8b;
        border-bottom: 5px solid #014b8b;
        display: none;
    }
    header nav a{
        position: relative!important;
        left: 0!important;
        top: 0!important;
        display: block;
        font-size: 24px!important;
        padding: 12px 0;
        color: #000;
    }
    header nav a:before{
        display: none!important;
    }

    header .mob-nav {
        float: left;
        display: block;
        position: absolute;
        width: 50px;
        height: 44px;
        top: 21px;
        left: 6px;
        background-color: transparent;
        background-size: 40px 40px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 21;
        padding-left: 0;
        margin-right: 0;
    }

    header .mob-nav:after {
        content: '';
        display: inline-block;
        line-height: 48px;
        font-family: 'Roboto-Bold';
        font-size: 22px;
        color: #000;
        letter-spacing: 0.6px;
        text-transform: uppercase;
    }

    header .mob-nav span {
        display: block;
        position: absolute;
        top: 21px;
        left: 10px;
        right: 0;
        height: 4px;
        width: 33px;
        background: #014b8b;
    }

    header .mob-nav span::before, header .mob-nav span::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #014b8b;
        content: "";
    }

    header .mob-nav span::after, header .mob-nav span::before {
        width: 100%;
    }

    header .mob-nav span::before {
        top: -10px;
        width: 100%;
        left: 0;
    }

    header .mob-nav span::after {
        bottom: -10px;
        width: 100%;
        left: 0;
    }

    header .mob-nav.active span {
        background-color: transparent;
    }

    header .mob-nav.active span::before {
        top: 0;
        left: 0;
    }

    header .mob-nav.active span::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 100%;
        left: 0;
    }

    header .mob-nav.active span::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 100%;
        left: 0;
    }

    header .mob-nav span::before {
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, transform;
    }

    #page {
        top: 0;
        width: 100%;
        height: auto;
        left: 0;
        transform: none!important;
        animation: none!important;
    }

    audio{
        position: fixed;
        left: -9999px;
    }

    #page .section-wrap {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none!important;
        animation: none!important;
        padding: 130px 20px;
    }

    #background{
        display: none;
    }

    .section-about{
        max-width: 100%;
    }

    #section-about {
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
    }

    #section-bid {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        max-width: 100%;
        display: none;

    }

    #page.section2 #section-bid{
        moz-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        -webkit-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
    }

    #section-doc {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        max-width: 100%;
        display: none;
    }
    #page.section3 #section-doc{
        moz-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        -webkit-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
    }
    #section-media {
        position: relative;
        top: 0;
        left: 0;
        width: calc(100% - 190px);
        z-index: 0;
        max-width: 100%;
        display: none;
    }
    #page.section4 #section-media{
        moz-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        -webkit-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
    }

    #section-contact {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        max-width: 100%;
        display: none;
    }
    #page.section5 #section-contact{
        moz-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        -webkit-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
    }
    #section-vacancy{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        max-width: 100%;
        display: none;
    }
    #page.section6 #section-vacancy{
        moz-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        -webkit-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
    }
    #page.section1 #section-about{
        display: block;
    }
    #page.section2 #section-about{
        display: none;
    }
    #page.section3 #section-about{
        display: none;
    }
    #page.section4 #section-about{
        display: none;
    }
    #page.section5 #section-about{
        display: none;
    }
    #page.section6 #section-about{
        display: none;
    }

    #page.section1 #section-bid{
        display: none;
    }
    #page.section2 #section-bid{
           display: block;
    }
    #page.section3 #section-bid{
        display: none;
    }
    #page.section4 #section-bid{
        display: none;
    }
    #page.section5 #section-bid{
        display: none;
    }
    #page.section6 #section-bid{
        display: none;
    }


    #page.section1 #section-doc{
        display: none;
    }
    #page.section2 #section-doc{
        display: none;
    }
    #page.section3 #section-doc{
         display: block;
    }
    #page.section4 #section-doc{
        display: none;
    }
    #page.section5 #section-doc{
        display: none;
    }
    #page.section6 #section-doc{
        display: none;
    }

    #page.section1 #section-media{
        display: none;
    }
    #page.section2 #section-media{
        display: none;
    }
    #page.section3 #section-media{
        display: none;
    }
    #page.section4 #section-media{
       display: block;
    }
    #page.section5 #section-media{
        display: none;
    }
    #page.section6 #section-media{
        display: none;
    }

    #page.section1 #section-contact{
        display: none;
    }
    #page.section2 #section-contact{
        display: none;
    }
    #page.section3 #section-contact{
        display: none;
    }
    #page.section4 #section-contact{
        display: none;
    }
    #page.section5 #section-contact{
         display: block;
    }
    #page.section6 #section-contact{
        display: none;
    }

    #page.section1 #section-vacancy{
        display: none;
    }
    #page.section2 #section-vacancy{
        display: none;
    }
    #page.section3 #section-vacancy{
        display: none;
    }
    #page.section4 #section-vacancy{
        display: none;
    }
    #page.section5 #section-vacancy{
        display: none;
    }
    #page.section6 #section-vacancy{
          display: block;
    }

    .section-media .head{
        margin-left: 0;
    }

    .slider.slider-for .slick-prev{
        display: none!important;
    }


    .page header {
        background-color: #3e3e3f;
    }

    .page header .mob-nav span{
        background-color: #fff;
    }

    .page header .mob-nav span::before, .page header .mob-nav span::after{
        background-color: #fff;
    }

    .page header .mob-nav.active span {
        background-color: transparent;
    }

    header .nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #3e3e3f;
        width: 100%;
        padding: 12px 16px 15px 16px;
    }

    header .nav > li {
        display: inline-block;
        margin-right: 0;
        width: 100%;
        margin: 7px 0;
        position: relative;
    }

	footer .nav{
		position: relative;
    	right: 0;
    	bottom: 0;
	}

	footer .nav > li{
		margin: 10px;
		display: inline-block;
	}



}






@media (max-width: 768px){
    footer{
        position: relative;
    }

    .section-about{
        margin-bottom: 0;
    }

    header{
        position: relative;
    }

    #page .section-wrap {
        padding: 60px 20px;
    }

    #preloader{
        width: 100vw;
        height: 100vh;
    }

    .section-about .content {
        padding: 0;
    }

    header .panel {
        max-width: calc(100% - 65px);
    }

    header .logo {
        max-width: calc(100% - 90px);
    }

    header .logo img{
        max-width: 90%;
    }
    .section-bid .head:after{
        display: none;
    }
    .section-bid form .col{
        width: 100%!important;
        margin-bottom: 5px;
    }

    .section-bid form input{
        width: 100%!important;
    }

    .section-bid form label{
        width: auto;
        margin-bottom: 3px;
    }

    .section-bid .content{
        padding: 0;
    }

    .section-bid form textarea{
        width: 100%;
    }
    .section-bid form button {
        margin-left: 0;
        width: 100%;
    }

    .section-doc .content{
        padding: 0;
    }

    .doc-wrap .item {
        width: 100%;
        margin-right: 0;
    }

    #section-media{
        width: 100%;
    }

    .slider.slider-for .slick-next {
        right: -9px;
        top: -89px;
        width: 102px;
        height: 80px;
    }

    .section-media .content{
        border: none;
    }
    .section-media .panel {
        position: relative;
        top: 5px;
        left: 0;
        width: 190px;
        min-height: auto;
        padding: 8px 8px;
        margin: 0 auto;
    }
    .address-wrap .address {
        width: 100%;
        margin-top: 8px;
    }
    .section-contact .content{
        padding: 0;
    }

    .section-contact .head{
        padding-left: 20px;
    }

    .team-wrap .item {
        width: 100%;
        margin-right: 0;
    }

    .vacancy-wrap .item .text {
        padding-left: 0;
    }

    .section-bid .head{
        padding-left: 20px;
    }

    .section-vacancy .head{
        min-width: 100%;
    }
    #content .container {
        padding: 46px 20px 66px 20px;
    }

    #content h2 br{
        display: none;
    }
    .form-calc form .col{
        width: 100%;
        margin-right: 0;
        max-width: 100%;
    }

    .form-calc form button{
        width: 100%;
    }

    .form-calc form .check {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
    }

    #content ul{
        padding-left: 0;
    }
    header .nav {
        padding: 50px 16px 15px 16px;
        text-align: center;
    }

    #content h1{
        margin-bottom: 20px;
    }
    .form-calc .calc {
        padding: 23px 16px 9px 16px;
    }

    .page footer .copyright {
        display: inline-block;
        width: 100%;
        margin: 0 0 0 20px;
    }

    footer .copyright {
        top: 152px;
        width: 140px;
        position: relative;
        text-align: left;
    }

    footer .dev {
        float: left;
        margin: 60px 20px;
        margin-bottom: 0;
    }

    .section-about .content .scroll-content {
        padding: 32px 30px 53px 30px;
    }
    footer .nav > li {
        display: inline-block;
        margin-right: 0;
        position: relative;
        width: 49%;
    }

}