body {
   background: #f3f3f3 !important;
   font-family: Roboto;
}
.page{
    /* padding-top: 80px; */
}
.body-overflow{
    overflow: hidden;
}
.page header .container{
    box-shadow:0px 7px 12px rgba(0, 0, 0, 0.25);
}
.page header{
    /* background: #3e3e3f; */
    position: fixed!important;
    top: 0;
    left: 0;
}
body *{
    font-family: Roboto;  
}

header .nav > li > a{
    font-family: Roboto;
    font-size: 15px;
}
#content-header h1{
    font-family: 'FranklinGothicDemiCondITC-Reg';
    font-size: 23px;
    color: #4488c2;
    line-height: 26px;
    text-transform: uppercase;
    /* margin-bottom: 41px; */
    position: relative;
    padding: 42px;
}

#content-header h1:before{
    content: '';
    width: 27px;
    height: 87px;
    background-color: #015494;
    position: absolute;
    top: calc(50% - 44px);
    left: 0px;
}


#container-news {
    padding-top: 80px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

}
.post_thumbnail a>img {
    width: 300px;
    height: 200px;
}

.post_thumbnail {
    position: relative;
    width: 300px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
}

.post_wr {
    text-decoration: none!important;
    display: flex;
    flex-direction: row;
    border-radius: 1px;
    border: 1px solid #e6e6e6;
    margin-bottom: 50px;
    transition: .4s;
}
/* .news-list {
    padding: 24px;
} */
.content {
    overflow: hidden;
    border-top: none;
    padding: 26px 30px;
    font-size: 14px;
}
.post_excerpt p{
    line-height: 24px;
    font-size: 13px;
    color: #808080;
}
.content:hover {
    /* color: #34ccff; */
    outline: none !important;
}
.content h5 a{
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    color: #183650;
    font-weight: 300;
    font-family: Roboto;
    line-height: 24px;
    font-size: 18px;
}

.content h5 {
    padding-bottom: 12px;
    font-family: Roboto;
}
.date {
    font-family: Roboto;
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    background: #0167aa;
    color: #fff;
    text-align: center;
    padding: 20px 0 0;
}
#row-news {
    padding: 24px;
}
.news-detail h2,h3{
    font-size: 20px;
    margin: 0 0 32px;
    /* line-height: 42px; */
    text-transform: uppercase;
    margin: 0;
    color: #183650;
    font-weight: 300;
    font-family: Roboto;
    padding-bottom: 26px;
} 

.news-detail p, ul,ol,strong {
    font-size: 14px;
     line-height: 1.5;
    font-family: Roboto;
    color: #808080;
    font-size: 16px;
    /* padding-bottom: 26px; */

}
.news-detail  ol>li,ul>li {
    margin: 0 0 13px 17px;
    font-size: 14px;
    line-height: 26px;
    font-family: Roboto;
    color: #3f626e;

}
p>a{
    font-size: 18px;
   color: #34ccff;
   text-decoration: none;
}
.post_wr:hover {
    box-shadow: 0 14px 28px rgba(219, 219, 219, 0.7), 0 10px 10px rgba(219, 219, 219, 0.7);

}

#title-price {
    font-size: 36px;
    margin: 0 0 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #183650;
    font-weight: 300;
    font-family: Roboto;
}

#container-price th, td:first-child {
    background: #183650 !important;
    color: white !important;
    padding: 10px 20px;
    padding: 10px;
    border: 1px solid #e6e6e6;
}

#container-price table>tbody>tr>td {
    background: #D8E6F3;
    text-align: center;
    color: black;

}


.wpb_text_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.wpb_wrapper > h2{
    font-size: 36px;
    margin: 0 0 32px;
    line-height: 42px;
    color: #183650;
    font-weight: 300;


}
.wpb_wrapper {
}

.uslugi p{
    font-size: 16px;
    line-height: 26px;
    font-family: Roboto;
    color: #808080;
    padding-bottom: 26px;
}

.uslugi h2{
    font-size: 36px;
    margin: 0 0 32px;
    line-height: 42px;
    color: #183650;
    font-weight: 300;
    font-family: Roboto;
    text-align: center;
}

.uslugi  ol>li,ul>li {
    margin: 0 0 13px 17px;
    font-size: 16px;
    line-height: 26px;
    font-family: Roboto;
    color: #3f626e;
    

}

.uslugi ol li p{
    font-size: 16px;
    line-height: 26px;
    font-family: Roboto;
    color: #183650;
    padding-bottom: 26px;
}

.uslugi h2::before{
    content: '';
    border-bottom: 3px solid #34ccff;
    width: 50px;
    display: block;
    border-radius: 2px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1b4562;
    color: #fff;
    margin: 0;
}

.bottom-section-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #fff;
    flex-wrap: wrap;
} 
.bottom-section-icon {
    text-decoration: none!important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding: 26px;
    color: #fff!important;
}
.bottom-section-icon:hover{
    background: #123045;
}
.bottom-section-icon-img {
    /* margin: 20px; */
    font-size: 80px;
    color: #34ccff;
}

.bottom-section-icon-text span{
    font-size: 24px;
    font-weight: 700;
    text-decoration: unset;
}

.bottom-section-icon-text a:hover { 
    text-decoration: underline; 
   }

.bottom-section-icon-text p{
    margin: 26px 0;
    font-size: 12px;
}

/* .bottom-section-icon-img i::before{
    content: "\e926";
} */
.pre-footer{
    background: #fff;
    padding: 0px;
}
.bottom-section-icon-text a,p{
    color: #fff ;

}  

.questions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #34ccff;
    border-color: #34ccff;
    border: none;
    width: 100%;
    height: 53px;
    padding: 55px 0;
}

.questions div h2 {
    margin: 0;
    font-size: 22px;
    line-height: 48px;
    font-weight: 500;
    color: #fff;
    text-transform: none;
    margin-right: 20px;
}

.questions div a {
    color: #fff;
    border: 2px solid #fff;
    border-color: #fff;
    background: transparent;
    padding-left: 30px;
    padding-right: 55px;
    padding: 15px 42px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
    position: relative;
    text-decoration: none;
}

.advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 335px;
    margin: 50px 0 0 0;
}

.advantages div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    color: red;
}
.advantages div p{
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.advantages div p:first-child{
    padding-bottom: 55px;
}

.advantages div img{
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}
.advantages-col-1 {
    background-color: #34ccff;

}

.advantages-col-2 {
    background-color: #2FB7E5;

}

.advantages-col-3 {
    background-color: #2AA3CC;

}

.main-rasch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #183650;
    width: 100%;
    height: 400px;
    margin: 50px 0;
}

.form-rasch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.form-rasch div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.main-rasch div h2 {
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    font-weight: 300;
    font-family: Roboto;
    text-align: center;
    padding: 20px 0;
}

.form-rasch div input {
    border: 1px solid #34ccff;
    border-radius: 3px;
}

.form-rasch div button {
  color: #34ccff;
  border: 2px solid #34ccff;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  background-color: #183650;
}

.form-rasch div p {
    font-size: 90%;
}

.form-rasch div button:hover {
    color: #fff;
    background-color: #34ccff;
  }

.form-rasch div p a{
    font-size: 14px;
}  













/*FOOTER*/

.title_f{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.textwidget ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.icon_f {
    float: left;
    width: 16px;
    line-height: 20px;
    font-size: 16px;
    margin-right: 14px;
    text-align: center;
}

.text_f {
    overflow: hidden;
    font-size: 13px;
    line-height: 20px;
}
.textwidget p {
    line-height: 26px;
    margin: 0 0 10px;
}
[class^="stm-"], [class*=" stm-"] {
    font-family: 'stm' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



#footer {
    position: relative;
    background: #183650;
    font-size: 14px;
    line-height: 1;
    font-family: Roboto;
    color: #808080;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#footer .footer_widgets {
    position: relative;
    padding: 68px 0 0;
}